<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title is-1">Editing tweet_clone</h1>

        <%= render "form", tweet_clone: @tweet_clone %>
      </div>
    </div>
  </div>
</div>

<nav class="navbar is-fixed-button">
  <div class="navbar-menu">
    <div class="navbar-item">
      <div class="field is-grouped">
        <p class="control">
          <%= link_to 'Cancel', tweet_clones_path, class: "button is-dark" %>
        </p>
      </div>
    </div>
  </div>
</nav>
