<h1>Editing tweet clone</h1>

<%= render "form", tweet_clone: @tweet_clone %>

<br>

<div>
  <%= link_to "Show this tweet clone", @tweet_clone %> |
  <%= link_to "Back to tweet clones", tweet_clones_path %>
</div>
